<a href="https://colab.research.google.com/github/richboy9717/colab-notebooks/blob/main/3-modul%20yakuniy.%20Ma'lumotlarni%20tozalash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ![Imgur](https://i.imgur.com/5pXzCIu.png)

# **DATA SCIENCE VA SUN'IY INTELLEKT PRAKTIKUM**

## 3.2 Ma'lumotlarni tayyorlash

# **AMALIYOT**
## Ma'lumotlarga ishlov berish

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/mukhammad-irmatov/health_dataset/main/healt_info.csv")
df.head(3)

   Sno  AGE     SEX  ... Mortality Y / N MORTALITY_DATE SRC_REGISTRATION
0    1   56  Female  ...              NO            NaN                D
1    2   37    Male  ...              NO            NaN                D
2    3   50    Male  ...              NO            NaN                D

[3 rows x 23 columns]

Bu dataset sug'urta kompaniyasining real ma'lumotlardan tuzilgan. Bu datasetda 480000 qator sug'urta ma'lumotlar tashkil topgan.
Quyida datasetning ba'zi ustunlari haqida qisqacha ma'lumot

*   Sno = seriya raqami 
*   AGE = yoshi
*   SEX = jinsi (female = ayol, male = erkak)
*   CASTE_NAME = kasta nomi (Hindistonda har bir inson ma'lum bir kastaga oid bo'ladi)
*   CATEGORY_CODE = kategoriya kodi
*   CATEGORY_Name = kategoriya nomi
*   SURGERY_CODE = operatsiya kodi
*   Mandal_Name = mandal nomlanishi ya'ni familiyasi desak ham bo'ladi
*   Mortality Y/N = vafot etgan yoki vafot etmaganligi
*   MORTALITY_DATE = qachon vafot etganligi

### **1-mashq**. Datasetdagi barcha takrorlangan qatorlar sonini toping

In [ ]:
# Javobni shuyerga yozing
df.duplicated().sum()

0

#### **2-mashq**. Datasetdagi quyidagi ustunlar o'chirib yuborilsin:<br>
*   Sno
*   CATEGORY_CODE
*   SURGERY_CODE
*   MANDAL_NAME
*   DISTRICT_NAME
*   HOSP_DISTRICT
<BR>

In [ ]:
# Javobni shuyerga yozing
df.drop(['CATEGORY_CODE','SURGERY_CODE','MANDAL_NAME','DISTRICT_NAME','HOSP_DISTRICT'],axis=1,inplace=True)

#### **3-mashq**. Datasetdagi sex(jinsi) nomli qatordagi qiymatlarni unique funksiyasi orqali tekshiring.

In [ ]:
# Javobni shuyerga yozing
df['SEX'].unique()

array(['Female', 'Male', 'Male(Child)', 'Female(Child)', 'FEMALE'],
      dtype=object)

#### **4-mashq**. Datasetdagi sex(jinsi) nomli qatordagi qiymatlarni **Erkak** va **Ayol** ga o'zgartiring:
O'zgartirish quyidagicha bo'lsin:


*   Male -> Erkak
*   Male(child) -> Erkak
*   Female - > Ayol
*   Female(child) - Ayol
*   MALE -> Erkak
*   FEMALE -> Ayol

In [ ]:
# Javobni shuyerga yozing
dict = {'Male':'Erkak','Male(child)':'Erkak','Female':'Ayol','Female(child)':'Ayol','MALE':'Erkak','FEMALE':'Ayol'}
df['SEX'] = df['SEX'].map(dict)

#### **5-mashq**. Endi xuddi shu SEX columndagi ma'lumotlarni raqamlarga o'zgartiring: Erkaklarni 1 raqamiga, Ayollarni 0 raqamiga o'zgartiring.
*   Erkak -> 1
*   Ayol -> 0

In [ ]:
# Javobni shuyerga yozing
df['SEX'] = df['SEX'].replace({'Erkak':1,'Ayol':0})
df

#### **6-mashq**. Shu jarayonni HOSP_TYPE ustuni uchun ham amalga oshiring. 
*   G - General hospital (umumiy kasalxona) degani
*   C - Special hospital (maxsus kasalxona) degani
<br><b>O'zgarish quyidagicha bo'lsin:</b>
*   G -> Umumiy 
*   C -> Maxsus

In [ ]:
# Javobni shuyerga yozing
df['HOSP_TYPE'] = df['HOSP_TYPE'].map({'G':'Umumiy','C':'Maxsus'})
df

#### **7-mashq**. O'zgartirish amalga oshirilgach, HOSP_TYPE ustunida qancha Umumiy va qancha Maxsus kasalxonalar borligini ham aniqlang

In [ ]:
# Javobni shuyerga yozing
df['HOSP_TYPE'].value_counts()

Maxsus    241139
Umumiy     94255
Name: HOSP_TYPE, dtype: int64

#### **8-mashq**. Datasetda qancha takrorlangan qatorlar borligini aniqlang

In [ ]:
# Javobni shuyerga yozing
df.duplicated().sum()

0

#### **9-mashq**. Datasetda barcha takrorlangan qatorlarni o'chirib yuboring

In [ ]:
# Javobni shuyerga yozing
df.drop_duplicates().head()

   Sno  AGE  SEX  ... Mortality Y / N MORTALITY_DATE SRC_REGISTRATION
0    1   56  0.0  ...              NO            NaN                D
1    2   37  1.0  ...              NO            NaN                D
2    3   50  1.0  ...              NO            NaN                D
3    4   45  1.0  ...              NO            NaN                D
4    5   54  1.0  ...              NO            NaN                D

[5 rows x 18 columns]

#### **10-mashq**. Datasetdan shifoxona turiga ko'ra (umumiy va maxsus), ClAIM_AMOUNTning o'rtacha qiymatlarini toping.

In [ ]:
# Javobni shuyerga yozing
df.groupby('HOSP_TYPE')['CLAIM_AMOUNT'].mean()

HOSP_TYPE
Maxsus    30272.214457
Umumiy    22683.900769
Name: CLAIM_AMOUNT, dtype: float64

#### **11-mashq**. Datasetdan shifoxona turiga ko'ra (umumiy va maxsus), ClAIM_AMOUNTning minimum qiymatlarini toping.

In [ ]:
# Javobni shuyerga yozing
df.groupby('HOSP_TYPE')['CLAIM_AMOUNT'].min()

HOSP_TYPE
Maxsus    2
Umumiy    2
Name: CLAIM_AMOUNT, dtype: int64

#### **12-mashq**. Datasetdan shifoxona turiga ko'ra (umumiy va maxsus), CLAIM_AMOUNTning maksimum qiymatlarini toping.

In [ ]:
# Javobni shuyerga yozing
df.groupby('HOSP_TYPE')['CLAIM_AMOUNT'].max()

HOSP_TYPE
Maxsus    520000
Umumiy    520000
Name: CLAIM_AMOUNT, dtype: int64

.agg() yordamida istalgan funksiyalarni chaqirishimiz mumkin, misol uchun numpy dagi mean (o'rta qiymat) funiksiyasini ham qo'shamiz. Natijalarni faqat price ustuni uchun chiqaramiz:

#### **13-mashq**. Datasetdan jinsiga ko'ra CLAIM_AMOUNTning min, max va o'rta qiymatlarni agg() usuli yordamida toping.

In [ ]:
# Javobni shuyerga yozing
df.groupby('SEX')['CLAIM_AMOUNT'].agg([min,max,np.mean])

     min     max          mean
SEX
0.0    2  210000  25552.989745
1.0    2  205000  29634.162939